<!DOCTYPE html>
<html lang="en">

<head>

    {% include "head.html.twig" %}
    <title>Sarah Meyer - Contact</title>

</head>

<body>
<!-- Navigation -->
{% include "navbar.html.twig" %}


<!-- Masthead -->
{% include "mhead.html.twig" %}


<section class="features-icons bg-light text-center">


    <div class="row" style="display: flex; align-items: center;">

    </div>
</section>


</body>

<!-- Footer -->
{% include 'footer.html.twig' %}
<!-- Bootstrap core JavaScript    -->


</html>
