<div>
    <div>
        <div class="container">
            <header class="page-header">
                <div class="row flex-nowrap justify-content-between align-items-center">
                    <div class="text-center">
                        <h1 class="blog-header-logo text-dark" href="#">Sarah Meyer Ostéopathe D.O.</h1>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse justify-content-md-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Prendre rensez-vous</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Espace patient</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</div>