<!DOCTYPE html>
<html lang="en">

<head>

    {% include "head.html.twig" %}
    <title>Sarah Meyer - Mentions légales</title>

</head>

<body>

<!-- Navigation -->
{% include "navbar.html.twig" %}


<!-- Masthead -->
{% include "mhead.html.twig" %}



<div class="container mb-5 mt-5" align="center">


    <h1 class="mb-5">Coordonnées de l'entreprise</h1>
    <p class="lead mb-0">
        Cabinet d'ostéopathie Sarah Meyer
        <br/>
        <br/>
        3 bis rue des Acacias
        <br/>
        18570 LA CHAPELLE SAINT URSIN
    </p>

</div>

<div class="container mb-5" align="center">

    <h1 class="mb-5">Responsables de la rédaction du site</h1>
    <p class="lead mb-0">
        Meyer Sarah
        <br/>
        Meyer Esther
    </p>

</div>
<div class="container mb-5" align="center">

    <h1 class="mb-5">Hébergement du site</h1>
    <p class="lead mb-0">
        A renseigner
        <br>
        A renseigner
    </p>

</div>
<div class="container mb-5" align="center">

    <h1  class="mb-5">SIRET</h1>
    <p class="lead mb-0">
        83090495900020
    </p>

</div>


</body>

<!-- Footer -->
{% include 'footer.html.twig' %}
<!-- Bootstrap core JavaScript    -->


</html>