<header class="masthead text-white text-center ">
    <div class="overlay" style="background-image: url('{{asset('build/img/Cabinet.jpg')}}');"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5"> Sarah Meyer </h1>
                <h2 class="mb-4"> Ostéopathe D.O.</h2>
            </div>
        </div>
    </div>

    </div>

</header>