<div class="container">
    <!--<nav class="navbar navbar-default navbar-fixed-bottom">
    <div id="navbar" class="collapse navbar-collapse pull-right"> -->
        <ul class="nav navbar-nav">
            {% if app.request.get('_route') not in ['homepage', 'entries'] %}
                <li><a href="{{ path("homepage") }}">Espace Patient</a></li>
            {% endif %}
            {% if app.user %}
                <li><a href="{{ path("admin_index") }}">Espace administrateur</a></li>
                <li><a href="{{ logout_url("secured_area") }}">Déconnection</a></li>
            {% else %}
                <li class="active"><a href="/connect/auth0">Espace administrateur</a></li>
            {% endif %}
        </ul>
    </div>
<!--</nav>-->