<nav class="navbar navbar-right bg-light static-top" style="box-shadow: 1px 1px 12px #555;">
    <div class="container" >
        <a class="navbar" href={{ path('index')}}>Acceuil</a>
        <a class="navbar" href={{ path('rendezVous') }}>Prendre rendez-vous</a>
        <a class="navbar" href="#">Espace patient</a>
        <a class="navbar" href={{ path('contact')}}>Contact</a>
    </div>
</nav>