<nav class="navbar navbar-right bg-light fixed-top" style="box-shadow: 1px 1px 12px #555;">
    <div class="container" >
        <a class="nav-link" href={{ path('index')}}>Accueil</a>
        <a class="nav-link" href={{ path('rendezvous')}}>Prendre rendez-vous</a>
        <a class="nav-link" href={{ path('patientspace')}}>Espace patient</a>
        <a class="nav-link" href={{ path('contact')}}>Contact</a>
    </div>
</nav>